.button {
	display: flex;
	align-items: center;

	padding: 10px 40px;

	cursor: pointer;

	color: var(--white);
	border: none;
	border-radius: 10px;
	background: var(--blue);

	font-weight: 700;
	gap: 10px;
}
