.logo {
	display: flex;
	align-items: center;
	gap: 24px;

	text-decoration: none;
}

.logo img {
	width: 48px;
	height: 48px;
}

.logo span {
	text-decoration: none;

	color: var(--white);
}

@media screen and (max-width: 768px) {
	.logo {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.logo img {
		width: 28px;
		height: 28px;
	}
}
