.account {
	display: flex;
	align-items: center;
	gap: 16px;
}

.image {
	width: 48px;
	height: 48px;
}

@media screen  and (max-width: 768px) {
	.account {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.image {
		width: 28px;
		height: 28px;
	}
}
