.wrapper {
	padding: 24px;

	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(2, 0, 97, 0.25);
}

.title {
	margin-bottom: 16px;
}

.list {
	list-style: none;
}

.item {
	padding: 16px 0;

	border-top: 1px solid #D7D7D7;
}
