.nav {
	height: 100%;
	padding-top: 24px;
}

.title {
	margin-bottom: 32px;
}

.nav ul {
	display: flex;
	flex-direction: column;

	list-style: none;
	gap: 40px;
}

.nav a {
	display: flex;
	align-items: center;

	text-decoration: none;

	color: var(--dark);
	gap: 16px;
}

li > div {
	display: flex;
	align-items: center;
	gap: 16px;

	cursor: pointer;
}

.nav a:hover {
	text-decoration: underline;
}

.nav img {
	width: 32px;
	height: 32px;
}

.child {
	position: relative;
}

.submenu {
	display: none;

	margin-top: 37px;
	padding-left: 50px;
}

.nav .submenu {
	display: none;
}

.active {
	display: none;

	margin-top: 37px;
	padding-left: 50px;
}

.nav .active {
	display: flex;
}

.subIcon {
	position: absolute;
	top: 50%;
	right: 20px;

	transform: translateY(-50%) rotate(180deg);
}

.subIconActive {
	position: absolute;
	top: 50%;
	right: 20px;

	transform: translateY(-50%);
}
