body {
	height: 100vh;
	margin: 0;

	background: var(--white);

	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

main {
	flex-grow: 1;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		'Courier New',
		monospace;
}

:root {
	--white: #FFF;
	--blue: #4F27BF;
	--dark: #1C1C1E;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.main-container {
	display: flex;
	gap: 32px;
}
