.title {
	margin-bottom: 16px;
}

.subtitle {
	margin-bottom: 24px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 24px;

	margin-bottom: 32px;
}

.wrapper input {
	flex-grow: 1;
}

.wrapper input:focus {
	border: 3px solid #4F27BF;
	outline: none;
}

.search {
	padding: 15px;

	border: 3px solid #4F27BF;
	border-radius: 10px;
}

.error {
	padding: 15px;

	border: 3px solid red;
	border-radius: 10px;
}

@media screen and (max-width: 768px) {
	.wrapper {
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 24px;

		margin-bottom: 32px;
	}
}
